/* RESET */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* VARIABLES */

:root {
	--clr-dark: hsl(0, 0%, 20%);
}

/* LAYOUT */

.container {
	display: grid;
	grid-template-columns: 1fr;
}

.header {
	text-align: center;
}

.newBook {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 150px;
	gap: 1em;
	accent-color: black;
	place-content: center;
	padding-bottom: 2em;
}

.header span {
	min-width: max-content;
	display: inline-block;
	text-align: left;
	font-weight: bold;
}

.newBook input {
	background: white;
	border: 3px solid white;
	border-radius: 0.5em;
	padding-inline: 1em;
	transition: all 150ms ease-in;
}

.newBook input:focus {
	outline: none;
	border: 3px solid chartreuse;
}

.newBook input[type="checkbox"] {
	outline: none;
}

#add-book {
	grid-column: 2;
	background: hsl(0, 0%, 0%);
	color: white;
	border: 1px solid black;
	padding: 0.5em;
	border-radius: 0.5em;
	font-weight: bold;
	transition: all 150ms ease-in-out;
}

#add-book:hover,
#add-book:focus {
	background: hsl(0, 0%, 40%);
	border: 1px solid white;
	cursor: pointer;
}

.main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
	gap: 2em;
	padding: 2em;
	perspective: 10000px;
}

.footer {
	text-align: center;
	color: white;
	padding: 1em;
	background-color: hsl(0, 0%, 40%);
	position: relative;
}

.github {
	position: absolute;
	right: 1em;
	top: 25%;
}

.footer a {
	color: white;
	font-weight: bold;
}

/* COMPONENTS */

.card {
	position: relative;
	padding: 1em;
	border-left: 10px solid black;
	border-radius: 1em;
	color: hsl(120, 43%, 87%);
	box-shadow: 0px 0px 30px black;
	max-width: 300px;
	min-width: 300px;
	min-height: 400px;
	background: url(./assets/cover_black.jpg) center no-repeat;
	transform: rotate3d(-1, 0, 0, -50deg);
	transform-origin: bottom center;
	transition: all 250ms ease-in-out;
}

.delete {
	transform: rotate(360deg);
}

.card:nth-of-type(even) {
	background: url(./assets/cover_red.jpg) center no-repeat;
}

.card:hover,
.card:focus-within {
	transform: rotate3d(1, 1, 1, 0deg);
	box-shadow: 1px 5px 10px black;
}

div.card p:nth-child(2) {
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 25ch;
	min-width: 100%;
	text-align: center;
	color: transparent;
	background-color: #000;
	-webkit-background-clip: text;
	background-clip: text;
	text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.2);
}

div.card p:nth-child(3) {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: 0.8em;
	font-weight: 300;
}

div.card p:nth-child(4) {
	position: absolute;
	bottom: 1em;
	left: 1em;
	font-size: 0.8em;
	font-weight: 300;
}

.card input {
	accent-color: black;
	margin-left: 0.5em;
}

div.card button {
	background-color: none;
	border: none;
	color: white;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: -1em;
	right: -1em;
	background: url(./assets/remove.svg) no-repeat center;
	width: 30px;
	height: 30px;
	transition: all 150ms ease-in-out;
}

.card button:hover {
	cursor: pointer;
	transform: scale(1.05);
	filter: invert();
}

/* TYPOGRAPHIE */

body {
	font-family: "Ubuntu", sans-serif;
	background-color: var(--clr-dark);
	line-height: 1.3;
	color: white;
}

.card h3 {
	text-align: center;
	margin-bottom: 1em;
	color: transparent;
	background: #000;
	-webkit-background-clip: text;
	background-clip: text;
	text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.2);
}

h1,
h2 {
	margin: 1em;
}

@media (hover: none) {
	.card {
		box-shadow: 1px 1px 10px black;
		transform: none;
		transform-origin: bottom center;
		transition: all 250ms ease-in-out;
	}
}

@media (max-width: 1400px) {
	.main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 1000px) {
	.newBook {
		display: flex;
		flex-direction: column;
		width: 50%;
		gap: 0.5em;
	}

	.newBook span {
		text-align: center;
	}

	.newBook input {
		margin-bottom: 1em;
		padding-block: 1em;
	}

	.main {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 700px) {
	.main {
		grid-template-columns: 1fr;
	}
}
